body {
  color: $base-font-color;
  font-family: $base-font-family;
  //font-feature-settings: "kern", "liga", "pnum";
  font-size: $base-font-size;
  line-height: $base-line-height;
}

.article-title {

font-size: 24px; 
line-height: 32px;

}

.lead {

font-size: 18px;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: $small-spacing 0 $small-spacing 0;
  font-weight: 700;
}

h1 {
  font-size: rem(30);
}

h2 {
  font-size: rem(32);
}

h3 {
  font-size: rem(24);
}

h4 {
  font-size: rem(20);
}

h5,
h6 {
  font-size: rem(16);
}

p {
  margin: 0 0 $small-spacing;

  &.lead {
    font-size: rem(22);
    font-weight: 300;
  }
}

a {
  color: $action-color;
  text-decoration: none;

  &:active,
  &:focus,
  &:hover {
    color: #f8f8f2;
    background-color: #50fa7b;
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

/* Selection styling */
::selection {
  background: #50fa7b;
  color: #fff; }

::-moz-selection {
  background: #50fa7b;
  color: #fff; }

blockquote {
  color: #50fa7b;
  line-height: 1.8;
}

code {
  background: none;
  border-radius: 0;
  border: none;
  font-family: monospace;
  font-size: 1em;
  margin: 0;
  padding: 0 5px;
  color: 282a36;
  background-color: #ff79c6;
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: monospace;
  font-size: 1em;
  margin: 0;
  padding: 5px 10px !important;
  overflow: auto;
  max-height: 60em;
  white-space: pre;
  border: 1px solid $light-gray-color;

  code {
    line-height: 1.75em;
    padding: 0 !important;
  }
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

ul,
ol,
dl {
    margin-top: 0;
    margin-left: 1.2em;
    margin-bottom: 1rem;
    list-style-type: square;
    list-style-position: outside;
    list-style-image: none;
}
