---
layout: default
---

{% capture i18n_date %}
{% assign day = page.date | date: "%-d" %}
{% assign m = page.date | date: "%-m" | minus: 1 %}
{% assign month = site.months[m] %}
{% assign year = page.date | date: "%Y" %}
{% assign datum = day | append: " " | append: month | append: " " | append: year %}
{% endcapture %}

<article class="post container" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <code>{{page.categories}}</code> + <p class="post-meta-date"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ datum }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta-desc">{{page.description}}</p>
  </header>
  <div class="post-content" itemprop="articleBody">
    {{ content }}
    {% include post-share.html %}
  </div>
</article>

{% include comments.html %}
